beautifulsoup4==4.6.0
boto==2.46.1
bz2file==0.98
cssselect==1.0.1
feedfinder2==0.0.4
feedparser==5.2.1
gensim==2.1.0
idna==2.5
jieba3k==0.35.1
lda==1.0.4
lxml==3.7.3
newspaper3k==0.1.9
nltk==3.2.3
numpy==1.12.1
olefile==0.44
pbr==3.0.1
Pillow==4.1.1
pymongo==3.4.0
python-dateutil==2.6.0
PyYAML==3.12
rake-nltk==1.0.0
requests==2.14.2
requests-file==1.4.2
scipy==0.19.0
six==1.10.0
smart-open==1.5.3
stop-words==2015.2.23.1
tldextract==2.0.3
